<launch>
  <arg name="gui" default="True" />
  <arg name="model" />

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find motoman_mh5_support)/urdf/mh5.xacro'" />

  <node pkg="reuleaux" type="show_sphere_and_arrow_color" name="show_sphere_and_arrow_color"/>
  <node pkg="reuleaux" type="create_sphere_and_arrow_color" name="sphere_and_arrow_color"/>
    
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find reuleaux)/rviz/ws_sphere_arrow_color.rviz"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  

</launch>
